.App {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

.loadmore {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
